<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h2>Thank you for signing up for Different Encounters updates</h2>

  <h3>To donate please click <a href="http://www.differentencounters.com/donate">here</a></h3>
</body>
</html>
