<div class="footer">
  <form action="/mailing_list" method="post">
    <%= token_tag %>
    <label for="email">Enter your email to sign up for updates on Different Encounters</label>
    <input type="text" name="email">
    <input type="submit">
  </form>
  <h5>Different Encounters Copyright 2014. All Rights Reserved. Site built by <a href="http://www.dmitryshamis.com">Dmitry Shamis</a>.</h5>
</div>
