<div class="nav">
  <h1 id="nav_title">Different Encounters</h1>
  <p id="nav_quote">“To be rooted is perhaps the most important and least recognized need of the human soul.”   - Simone Weil</p>
  <div class="nav_toolbar">
    <ul class="toolbar">
      <li>About Us</li>
      <li>Our Partners</li>
      <li>Our Team</li>
      <li>Contact Us</li>
      <li>Donate</li>
    </ul>
  </div>
</div>
