<div class="nav">
  <h1 id="nav_title"><a href="/">DIFFERENT ENCOUNTERS</a></h1>
  <p id="nav_quote">“To be rooted is perhaps the most important and least recognized need of the human soul.”   - Simone Weil</p>
  <div class="nav_toolbar">
    <ul class="toolbar">
      <li><a href="/about">About Us</a></li>
      <li><a href="/partners">Our Partners</a></li>
      <li><a href="/team">Our Team</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/donate">Donate</a></li>
    </ul>
  </div>
</div>
