<h2 class="page_header">About Us</h2>

<p>Ray Fredrick has been a NYC physical education teacher for over three years. Ray, a 9-year army veteran, has spent most of his time teaching in Upper Manhattan. He is concerned.</p>

<p>Due to a multitude of reasons, there is a lack of fundamental values amongst a large portion of young men living in troubled neighborhoods in New York City. There is a lack of:</p>

<ul>
  <li>Educational Focus</li>
  <li>Community and Familial Responsibility</li>
  <li>Respect and Self-Respect</li>
</ul>

<p>There are few public and private organizations in NYC (particularly that can deliver a resonating message) to address these evident and ever-growing issues.</p>

<p>Ray Fredrick and Andrey Yoffe are dedicating their time, effort and money to teach and guide young men towards the core fundamentals of <strong>responsibility</strong>, <strong>community service leadership</strong>, <strong>education</strong> and <strong>family</strong> in an environment that facilitates the delivery of the message.</p>

<div class="focus">
  <h3>We have diagramed the following DE program:</h3>
  <ul>
    <li>Target audience overview:
      <ul>
        <li>Male students entering 5th or 6th grade
          <ul>
            <li>As the DE program grows, female and male students entering grades 6th – 8th will be focused on</li>
          </ul>
        </li>
        <li>New York City Public Schools</li>
      </ul>
    </li>

    <li>Session overview:
      <ul>
        <li>Length: ~2 ½ hours</li>
        <li>Audience size: 15 – 25 students</li>
        <li>Frequency: Once a week (weekdays)</li>
      </ul>
    </li>

    <li>Curriculum overview:
      <ul>
        <li>Three 20-minute sessions of interactive discussion regarding health and character development</li>
        <li>Three 30-minute sessions focused on basketball drills, strategies and scrimmages</li>
      </ul>
    </li>

    <li>New York City Public Schools
      <ul>
        <li>Includes Bronx, Manhattan and Queens</li>
        <li>For example: East Harlem
          <ul>
            <li>School District 4</li>
            <li>Community District 11
              <ul>
                <li><strong>The Vito Marcantonio School (Prospective Partner)</strong></li>
                <li><strong>Mosaic Preparatory School (Current Partner)</strong></li>
                <li>Global Neighborhood Secondary School</li>
                <li>Isaac Newton Middle School For Math & Science</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li>15 – 25 Year Old Young Men Entering the 5-6th Grade
      <ul>
        <li>During Year 2, we are looking to team up with an additional school in East Harlem
          <ul>
            <li>The Vito Marcantonio School (P.S. 50) has a strong and proactive administration and a great demographic for the DE program, with students ranging from K – 8th grade</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
