<h2 class="page_header">Contact Us</h2>

<div class="contact_form">
  <form action="">
    <label for="name">Name:</label>
    <br>
    <input type="text" name="name" placeholder="Name">
    <br>
    <label for="email">Email Address:</label>
    <br>
    <input type="text" name="email" placeholder="Email Address">
    <br>
    <label for="subject">Subject:</label>
    <br>
    <input type="text" name="subject" placeholder="Subject">
    <br>
    <label for="message">Message:</label>
    <br>
    <textarea name="message" cols="50" rows="10"></textarea>
    <br>
    <button type="submit">Send</button>

  </form>
</div>

<div class="sent">
  <h3>Thank you for your note.</h3>
  <h3>***THIS WILL BE HIDDEN AND WILL SHOW UP WHEN THE FORM IS SUBMITTED***</h3>
</div>
