<div class="text">
  <h3>Different Encounters (“DE”) is a not-for-profit organization dedicated to the development of under-resourced, pre-adolescent youth in New York City.</h3>

  <h3>DE’s goal is to positively engage youth in learning about themselves through education in a weekly, out-of-school atmosphere.</h3>

  <ul>
    <li>Physical Education</li>
    <li>Character Education</li>
    <li>Health Education</li>
  </ul>

  <h3>This engagement will lead to better informed, more responsible young people who are ready to take on life, but more than that, ready to <span class="underline">influence the next generation of young people through service leadership.</span></h3>

  <div class="goals">
    <h4>How we envision DE in five years</h4>
    <p class="goals_title">Target audience overview:</p>
    <ul class="goals_list">
      <li>Students (boys and girls) entering 6th – 8th grade</li>
    </ul>

    <p class="goals_title">Session overview:</p>
    <ul class="goals_list">
      <li>Audience size: 120 students (40 from each grade)</li>
      <li>Frequency: Twice a week (one for practice / message; one for weekly tournament)</li>
    </ul>

    <p class="goals_title">Curriculum overview:</p>
    <ul class="goals_list">
      <li>Tuesdays: Similar curriculum as presented for FY2015</li>
      <li>Thursdays: 2-hour Basketball and Blend (girls’ team jump roping) tournament</li>
      <ul class="goals_sublist">
        <li>8th grade students take on player / coach roles, responsible for decision-making and leading</li>
        <li>Tournaments to be treated as serious games between teams (statistics recorded; video footage recorded; season to playoff format instilled)</li>
      </ul>
    </ul>
  </div>
</div>
