<h2 class="page_header">Our Team</h2>
<div class="team">
  <div class="personnel" id="ray">
    <img class="image" src="/assets/ray.png">
    <div class="name">
      <h3>Ray N. Fredrick III</h3>
    </div>
    <div class="title">
      <h4>President and Program Director</h4>
    </div>
    <div class="bio">
      <p>
        Ray N. Fredrick III is a graduate of the United States Military Academy where he earned three letters as a member of the varsity men’s basketball team and  served as a team captain during his senior year.  After a successful five-year active duty military service to his country, Ray completed his master’s degree in physical education from Teachers College, Columbia University.
      </p>
      <p>
        While at Columbia, Ray successfully established several afterschool physical activity programs including two highly successful jump rope programs at the The Nightingale-Bamford School and 92nd Street Y in Manhattan.  In addition to after-school programming, Ray has served as a teacher in several New York City public schools with his latest position being as a physical education instructor at Teachers College Community School during the 2011-2012 school year.   Currently, Ray is a physical education teacher in the Eastchester School District located in Westchester County, New York.
      </p>
    </div>
  </div>

  <div class="personnel" id="andrey">
    <img class="image" src="/assets/andrey.png">
    <div class="name">
      <h3>Andrey Yoffe</h3>
    </div>
    <div class="title">
      <h4>Vice President</h4>
    </div>
    <div class="bio">
      <p>
        Andrey A. Yoffe currently serves in a strategic and M&A advisory role at Stone Key Partners, a mergers & acquisitions advisory firm focused on Aerospace, Defense and Commercial Technology. Andrey has been at Stone Key since 2010 and has almost five years of investment banking experience.
      </p>
      <p>
        Andrey is also the Co-founder and Chairman of an internet start-up company, BlueMitts.com, focused on user-generated, local-based activities to stimulate activeness and healthy social interaction in people’s lives.
      </p>
      <p>
        Andrey completed his bachelor’s degree in finance and international business from the Stern School of Business at New York University.
      </p>
    </div>
  </div>

  <div class="personnel" id="leah">
    <img class="image" src="/assets/leah.png">
    <div class="name">
      <h3>Leah Burke</h3>
    </div>
    <div class="title">
      <h4>Director of Marketing and Fundraising </h4>
    </div>
    <div class="bio">
      <p>
        Leah Burke is a Special Events Manager at City Harvest, a not-for-profit that delivers food to more than 800 soup kitchens, food pantries, shelters, and community food programs in New York City.
      </p>
      <p>
        Prior, Leah served as Associate Director of Community Affairs at UBS Financial Services, managing community and employee engagement, strategic grant making and program development.
      </p>
      <p>
        Before joining UBS, Leah was a Coordinator in the NBA's Community Relations department where she oversaw all employee volunteer programs under the umbrella of NBA Cares.
      </p>
      <p>
        Leah holds a BA in Media and Interpersonal Communication studies from Northeastern University in Boston.  She is currently enrolled in the Executive MPA Program at CUNY Baruch College.
      </p>
    </div>
  </div>

  <div class="personnel" id="risto">
    <img class="image" src="/assets/risto.png">
    <div class="name">
      <h3>Risto Marttinen</h3>
    </div>
    <div class="title">
      <h4>Assistant Program Director</h4>
    </div>
    <div class="bio">
      <p>
        Risto Marttinen is a graduate of California State University, Fullerton where he received his Bachelors degree in Health Science and his Masters Degree in Kinesiology with an emphasis in Sports Psychology. He is currently attending Teachers College, Columbia University for his Doctorate Degree in Education in Curriculum and working as a physical education teacher at the Teachers College Community School in Harlem teaching Pre-K through 2nd grade physical education.
      </p>
      <p>
        Risto’s background includes college wrestling for Fullerton’s Division I wrestling program where he was the Team Captain. Subsequently, he became head assistant coach where he was in charge of recruiting.
      </p>
      <p>
        Risto brings to Different Encounters an understanding of sports psychology, teaching, coaching and an in-depth understanding of the college sports world.
      </p>
    </div>
  </div>

  <div class="personnel" id="koro">
    <img class="image" src="/assets/koro.png">
    <div class="name">
      <h3>Koro White</h3>
    </div>
    <div class="title">
      <h4>Assistant Program Director</h4>
    </div>
    <div class="bio">
      <p>
        Koro White received his bachelor of arts degree in Radio-TV & Film Howard University. His minor was Electronic Studio Art. He is currently attending Mercy College for his masters in Education.
      </p>
      <p>
        Koro is very active in the community. He attends community board meetings and church-wide events. Koro has a strong passion for the arts, media, and education. His involvement with the media has led him to vital roles with various television and film companies. He has worked on projects with BET and its subsidiaries and VH1 networks.
      </p>
      <p>
        Koro brings to Different Encounters an understanding of culture, the foundations of education, and teaching.
      </p>
      <p>
        Koro also works as a Teacher’s Assistant at Kennedy Child Study Center in NYC.
      </p>
    </div>
  </div>
</div>
