// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team {
  .personnel {
    width: 100%;
    display: inline-block;
    float: left;
    margin-bottom: 15px;

    .image {
      width: 15%;
      float: left;
      border: 1px solid black;
    }

    .name {
      margin-left: 20px;
      width: 80%;
      float: left;

      h3 {
        margin: 10px 0 0 0;
        font-size: 28px;
      }
    }

    .title {
      margin-left: 20px;
      width: 80%;
      float: left;

      h4 {
        margin: 0;
      }
    }

    .bio {
      text-align: justify;
      float: left;
      display: none;
    }
  }
}

.focus {
  width: 75%;
  background-color: lightgoldenrodyellow;
  margin: 0 auto;
  border: 3px solid #2EBBD8;
  padding: 5px;
}
